args==0.1.0
beautifulsoup4==4.11.2
certifi==2022.12.7
charset-normalizer==3.0.1
clint==0.5.1
colorama==0.4.6
idna==3.4
requests==2.28.2
six==1.16.0
soupsieve==2.4
urllib3==1.26.14
vk-requests==1.2.1